[submodule "content/archive/gallery"]
	path = content/archive/gallery
	url = https://github.com/PenumbraOS/humane-image-gallery.git
[submodule "content/archive/press-kit"]
	path = content/archive/press-kit
	url = https://github.com/PenumbraOS/humane-press-kit.git
