[submodule "content/reference/gallery"]
	path = content/reference/gallery
	url = https://github.com/PenumbraOS/humane-image-gallery.git
[submodule "content/reference/press-kit"]
	path = content/reference/press-kit
	url = https://github.com/PenumbraOS/humane-press-kit.git
